[**agentx-workspace**](../../../../README.md)

---

[agentx-workspace](../../../../README.md) / [planning/planning-engine/src](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [packages/planning/planning-engine/src/interfaces.ts:34](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/planning/planning-engine/src/interfaces.ts#L34)

## Properties

### errors

> **errors**: `string`[]

Defined in: [packages/planning/planning-engine/src/interfaces.ts:36](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/planning/planning-engine/src/interfaces.ts#L36)

---

### isValid

> **isValid**: `boolean`

Defined in: [packages/planning/planning-engine/src/interfaces.ts:35](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/planning/planning-engine/src/interfaces.ts#L35)

---

### warnings

> **warnings**: `string`[]

Defined in: [packages/planning/planning-engine/src/interfaces.ts:37](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/planning/planning-engine/src/interfaces.ts#L37)
