[**agentx-workspace**](../../README.md)

---

[agentx-workspace](../../README.md) / [autonomous-cognition](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts:3](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts#L3)

## Properties

### checksum

> `readonly` **checksum**: `string`

Defined in: [packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts:6](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts#L6)

---

### errors

> `readonly` **errors**: readonly `string`[]

Defined in: [packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts:5](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts#L5)

---

### valid

> `readonly` **valid**: `boolean`

Defined in: [packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts:4](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/cognitive/autonomous-cognition/src/infrastructure/governance/Validators.ts#L4)
