[**agentx-workspace**](../../README.md)

---

[agentx-workspace](../../README.md) / [production-quality](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [packages/quality/production-quality/src/interfaces.ts:47](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/quality/production-quality/src/interfaces.ts#L47)

## Properties

### failures

> **failures**: `string`[]

Defined in: [packages/quality/production-quality/src/interfaces.ts:50](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/quality/production-quality/src/interfaces.ts#L50)

---

### metadata?

> `optional` **metadata?**: `Record`\<`string`, `unknown`>>>>\>

Defined in: [packages/quality/production-quality/src/interfaces.ts:51](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/quality/production-quality/src/interfaces.ts#L51)

---

### passed

> **passed**: `boolean`

Defined in: [packages/quality/production-quality/src/interfaces.ts:48](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/quality/production-quality/src/interfaces.ts#L48)

---

### score

> **score**: `number`

Defined in: [packages/quality/production-quality/src/interfaces.ts:49](https://github.com/arpayidcloud-byte/Agentx/blob/39f649f26ebb3402d33388e086248595af2b5984/packages/quality/production-quality/src/interfaces.ts#L49)
